@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --main-text-color: #f8f9fa;
    --secondary-text-color: #dee2e6;
    /* --background-color: #212529; */
    --background-color: black;
    --nav-background: #1d1f21;
    --active-color: #ffd700;
}
body {
    color: var(--main-text-color);
    text-shadow: 1px 1px 2px black;
    background-color: var(--background-color);
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}
li {
    list-style-type: none;
    font-size: 18px;
}

h1 {
    font-size: 30px;
    text-decoration: underline;
}
h2 {
    font-size: 24px;
}

p {
    font-size: 18px;
}
.home {
    background-image: url("assets/projects/head.jpg");
    background-size: cover;
    background-position: center center;
}
.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    margin: 100px auto 100px;
}
.article img {
    max-width: 800px;
    max-width: 100%;
}
.article h3 {
    margin-right: auto;
}
.article a {
    color: var(--main-text-color);
    text-decoration: none;
    font-size: 18px;
    margin-right: auto;
    border: 2px solid var(--nav-background);
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0px 3px 6px var(--secondary-text-color);
}
.article a:hover {
    box-shadow: 0px 3px 6px black;
}
.article-link a {
    color: var(--main-text-color);
    text-decoration: none;
    font-size: 18px;
    margin-right: auto;
    border: 2px solid var(--nav-background);
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0px 3px 6px var(--secondary-text-color);
}
.article-link a:hover {
    box-shadow: 0px 3px 6px black;
}

.grid-item a {
    font-size: 18px;
    text-decoration: none;
    color: var(--main-text-color);
}
.grid-item a:hover {
    color: var(--active-color);
}

.container {
    box-sizing: border-box;
    min-height: 100vh;
    padding: 80px 10px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* home page */
.social-links {
    display: flex;
    justify-content: center;
    color: white;
}

.icon {
    background-color: black;
    margin: 40px 20px;
    padding: 5px;
    border: 2px solid var(--nav-background);
    box-shadow: 0px 3px 6px var(--secondary-text-color);
    border-radius: 5px;
}
.icon:hover {
    box-shadow: 0px 3px 6px black;
}

/* Education */
.grid-item {
    margin-bottom: 30px;
    padding: 10px;
    border: 2px solid var(--nav-background);
    border-radius: 20px;
    box-shadow: 0px 3px 6px var(--secondary-text-color);
}

.grid-container h2 {
    text-align: center;
}

.music-projects {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}
.music-projects img {
    width: 100px;
    margin-right: 10px;
}

.music-projects a:hover {
    color: var(--active-color);
}

@media screen and (min-width: 640px) {
    .container {
        align-items: center;
    }
    .text-grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 40px;
        align-items: start;
    }

    .text-grid h1 {
        margin-top: 0;
        font-size: 36px;
        text-align: right;
    }
    .text-grid h2 {
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 30px;
        text-align: right;
    }
    .text-grid p {
        max-width: 90%;
        font-size: 18px;
        text-align: left;
    }
    .grid-item a {
        font-size: 18px;
    }
    .grid-container {
        max-width: 980px;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 20px;
    }
    .article {
        max-width: 800px;
    }
    .contact h1 {
        text-align: center;
    }
}
@media screen and (min-width: 980px) {
    .container {
        align-items: center;
    }
    .text-grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 40px;
    }
    .text-grid h1 {
        margin-top: 20px;
        font-size: 34px;
        text-align: right;
    }
    .text-grid h2 {
        margin-top: 20px;

        font-size: 28px;
        text-align: right;
    }
    .text-grid p {
        font-size: 18px;
        text-align: left;
    }
    .grid-item a {
        font-size: 18px;
    }
    .grid-container {
        max-width: 1024px;

        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .article {
        max-width: 800px;
    }
}
@media screen and (min-width: 1280px) {
    .container {
        align-items: center;
    }
    .text-grid {
        max-width: 1024px;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 40px;
    }
    .text-grid h1 {
        font-size: 40px;

        text-align: right;
    }
    .text-grid h2 {
        font-size: 36px;
        text-align: right;
    }
    .text-grid p {
        max-width: 100%;
        font-size: 24px;
        text-align: left;
    }
    .grid-item a {
        font-size: 18px;
    }
    .contact {
        max-width: 1024px;
    }
}
